
@{
    ViewBag.Title = "Administracion";
}

<h2 class="display-5" style="margin-top:70px;">@ViewBag.Title</h2>

<div class="row">
    <br />
    <div class="container" style="text-align:center">
        <div class="row">
            <div class="col-md-4 ">
                <a class="botonMenu" href="~/Laboratorio/LaboratoriosGeneral">
                    <i class="fas fa-clock fa-6x iconos"></i>
                    <br />
                    <h4 class="titulosMenu" > Horarios </h4>
                </a>
            </div>
            <div class="col-md-4 " >
                <a class="botonMenu" href="~/Periodo/">
                    <i class="fas fa-calendar-alt fa-6x iconos"></i>
                    <br />
                    <h4 class="titulosMenu"> Periodos </h4>
                </a>
            </div>
            <div class="col-md-4" >
                <a class="botonMenu" href="~/Carrera/">
                    <i class="fas fa-graduation-cap fa-6x iconos"></i>
                    <br />
                    <h4 class="titulosMenu"> Carreras </h4>
                </a>
            </div>

            <div class="col-md-4" >
                <a class="botonMenu"  href="~/Semestre/">
                    <i class="fas fa-boxes fa-6x iconos"></i>
                    <br />
                    <h4 class="titulosMenu"> Semestres </h4>
                </a>
            </div>
      
      
            <div class="col-md-4" >
                <a class="botonMenu" href="~/Materia/">
                    <i class="fas fa-book-open fa-6x iconos"></i>
                    <br />
                    <h4 class="titulosMenu"> Materias </h4>
                </a>
            </div>
            <div class="col-md-4">
                <a class="botonMenu"  href="~/Labs/">
                    <i class="fas fa-network-wired fa-6x iconos"></i>
                    <br />
                    <h4 class="titulosMenu"> Laboratorios </h4>
                </a>
            </div>
            <div class="col-md-4">
                <a class="botonMenu" href="~/Docente/">
                    <i class="fas fa-chalkboard-teacher fa-6x iconos"></i>
                    <br />
                    <h4 class="titulosMenu"> Docentes </h4>
                </a>
            </div>
        
            <div class="col-md-4">
                <a class="botonMenu" href="~/Estudiante/">
                    <i class="fas fa-users fa-6x iconos"></i>
                    <br />
                    <h4 class="titulosMenu"> Estudiantes </h4>
                </a>
            </div>
            <div class="col-md-4">
                <a class="botonMenu" href="~/EstudianteMateria/">
                    <i class="fas fa-book-reader fa-6x iconos"></i>
                    <br />
                    <h4 class="titulosMenu"> Estudiantes - Materias </h4>
                </a>
            </div>
        </div>
    </div>
</div>

